extends layout.pug

block content
  .story-list
    each story, index in stories
      .story
        .story-rank #{index+1}.
        .story-title: a(href=story.url) #{story.title}
        .story-tools
          | #{story.score} points by #{story.poster} #{story.time} | 
          a(href='/s/'+ story.id) #{story.descendents} comments
