extends layout.pug

block content
  .post-list
    each post in posts
      .post
        .post-rank #{post.rank}.
        .post-title #{post.title}
        .post-info #{post.score} points by #{post.poster} #{post.age} | #{post.comments.length} comments
