extends layout.pug

block content
  .post.no-rank
    .post-title: a(href=post.url) #{post.title}
    .post-info #{post.score} points by #{post.poster} #{post.age} | #{post.comments.length} comments
  +comments(post.comments)

mixin comments (list)
  .comment-list
    each comment in list
      .comment
        .comment-title #{comment.author} #{comment.age} [-]
        .comment-body #{comment.body}
        .comment-tools reply
        .comment-replies
          if comment.replies
            +comments(comment.replies)
