extends layout.pug

block content
  .story.no-rank
    .story-title: a(href=story.url) #{story.title}
    .story-tools #{story.score} points by #{story.poster} #{story.time} | #{story.descendents} comments
  form(method='post', action='/s/'+story.id+'/comment')
    input(type='hidden', name='parentId', value=story.id)
    textarea(name='body')
    input(type='submit', value='Submit')
  .comment-list
    each comment in comments
      .comment
        .comment-indent(style={width: 20 * (comment.level - 1)})
        .comment-title #{comment.poster} #{comment.time} [-]
        .comment-body #{comment.body}
        .comment-tools reply
